*{
	padding: 0px;
	margin: 0px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #fff;
}
.top{
	width: 1200px;
	height: 50px;
	background-color:darkturquoise ;
	margin: auto;
}
.top_zong{
	width: 1200px;
	height: 50px;
	margin: auto;
}
.top_zong>ul>li{
	float: left;
	margin-left: 100px;
	line-height: 50px;
	
}
.main{
	width:1200px;
	margin:auto;
}
.main_left{
	width: 750px;
	margin-top: 20px;
	float: left;
}
.main_right{
	width: 350px;
    height: 250px;
    float: right;
    background-color: mediumslateblue;
    margin-left: 50px;
    margin-top: 20px;
}

















