*{
	padding: 0px;
	margin: 0px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #fff;
}
.top{
	width: 1200px;
	height: 50px;
	background-color:darkturquoise ;
	margin: auto;
}
.top_zong{
	width: 1200px;
	height: 50px;
	margin: auto;
}
.top_zong>ul>li{
	float: left;
	margin-left: 100px;
	line-height: 50px;
	
}
.main{
	width:1200px;
	margin:auto;
}
.main_left{
	width: 800px;
	margin-top: 20px;
	float: left;
}
.main_right{
	width: 380px;
    float: right;
    margin-left: 20px;
    margin-top: 20px;
}
.main_left_one,.main_left_two,.main_left_three{
	width: 800px;
	height: 250px;
	background-color: mediumslateblue;
	margin-top:20px;
}
.main_left_two{
	
}
.main_left_one{

}
.main_right_one,.main_right_two,.main_right_three,.main_right_four{
	width: 380px; 
    background-color: mediumslateblue;
    height: 250px;

}
.main_right_two{
    margin-top:20px;
}
.main_right_three{
    margin-top:20px;
}
.main_right_four{
	margin-top:20px;
}











